<nav id="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <div class="p-4">
      <h1><a href="index.html" class="logo">Portfolic <span>Portfolio Agency</span></a></h1>
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/rp/list/annees-scolaires" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Année Scolaire
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/list/annees-scolaires"><span style="margin-left:10px; color: black;">List</span> </a></li>
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/add/annee-scolaire"><span style="margin-left:10px; color: black;">Add</span> </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/rp/list/classes" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Classes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/list/classes"><span style="margin-left:10px; color: black;">List</span> </a></li>
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/add/classe"><span style="margin-left:10px; color: black;">Add</span> </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/rp/list/semestres" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Semestres
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/list/semestres"><span style="margin-left:10px; color: black;">List</span> </a></li>
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/add/semestre"><span style="margin-left:10px; color: black;">Add</span> </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/rp/list/modules" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Modules
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/list/modules"><span style="margin-left:10px; color: black;">List</span> </a></li>
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/add/module"><span style="margin-left:10px; color: black;">Add</span> </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/rp/list/cours" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cours
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/list/cours"><span style="margin-left:10px; color: black;">List</span> </a></li>
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/add/cours"><span style="margin-left:10px; color: black;">Add</span> </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/rp/list/etudiants" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Etudiants
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/list/etudiants"><span style="margin-left:10px; color: black;">List</span> </a></li>
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/add/etudiant"><span style="margin-left:10px; color: black;">Add</span> </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/rp/list/professeurs" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Professeurs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/list/professeurs"><span style="margin-left:10px; color: black;">List</span> </a></li>
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/add/professeur"><span style="margin-left:10px; color: black;">Add</span> </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/rp/list/salles" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Salles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/list/salles"><span style="margin-left:10px; color: black;">List</span> </a></li>
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/add/salle"><span style="margin-left:10px; color: black;">Add</span> </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/rp/list/sessions-cours" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Session-Cours
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/list/sessions-cours"><span style="margin-left:10px; color: black;">List</span> </a></li>
            <li style="background-color: #007bff;"><a class="dropdown-item" routerLink="/rp/add/session-cours"><span style="margin-left:10px; color: black;">Add</span> </a></li>
          </ul>
        </li>
      </ul>

      <div class="mb-5">
        <h3 class="h6 mb-3">Subscribe for newsletter</h3>
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <div class="icon"><span class="icon-paper-plane"></span></div>
            <input type="text" class="form-control" placeholder="Enter Email Address">
          </div>
        </form>
      </div>

      <div class="footer">
        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>

    </div>
  </nav>