<div class="container-xl px-4 mt-4">
    <div class="row">
        
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form #sessForm (ngSubmit)="onSubmit()">
                    
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">cours</label>
                                <select class="form-select" [(ngModel)]="selectedCours" name="cours" aria-label="Default select example">
                                    <option *ngFor="let c of cours" [ngValue]="c">{{c.module.libelle}}</option>
                                  </select>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Date</label>
                                <input type="date" [(ngModel)]="selectedDate" name="date" class="form-control" id="date" placeholder="La date du jour">
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Heure debut</label>
                                <div class="cs-form">
                                    <input type="time" [(ngModel)]="selectedTimeD" name="timeD" class="form-control" />
                                  </div>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Heure fin</label>
                                <div class="cs-form">
                                    <input type="time" [(ngModel)]="selectedTimeF" name="timeF" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">Salle</label>
                                <select class="form-select" [(ngModel)]="selectedSalle" name="salle" aria-label="Default select example">
                                    <option *ngFor="let s of salle" [ngValue]="s">{{s.nom}} {{s.numero}}, place:{{s.nbPlace}}</option>
                                  </select></div>
                        </div>
                       
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>